.container {
  width: min(90%,1000px); /* css chooses minimal option 
  between given two*/
  margin-inline: auto;
  border: 3px solid hotpink;
}

.dark-background {
  background: #333;
  color: white;

  padding: 1rem max(8vw, 1rem) ;/* css does 1rem vertical
  padding but chooses max horizontal padding between two*/
}

h2 {
  font-size: clamp(3rem, 10vw + 1rem, 9rem);
  /* ideal font size in in the middle, while minimum size 
  is on left and max size is on right*/
  line-height: 1;
}